@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: Roboto;
    background-color: black;
    background-image: url('./img/fundo.png');
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    background-color: gray;
    height: 70px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

#BispoLogo {
    width: 70px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
}

#secao1 {
    margin-left: 30px;
    color: white;
    background-color: gray;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
}

#secao2 {
    margin-right: 30px;
    color: white;
    background-color: gray;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
}

.titulo {
    text-align: center;
}

#insta {
    position: absolute;
    width: 65px;
    margin-top: 5px;
    margin-left: 8px;
}

#listaDesign {
    padding-left: 22px;
}

/*Responsividade*/
@media (max-width:600px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
    }
    #secao1, #secao2, header {
        margin-left: 0;
        margin-right: 0;
    }
}
@media (max-width:768px) {
    #secao1, #secao2, header {
        margin-left: 0;
        margin-right: 0;
        padding-left: 5px;
        padding-right: 5px;
    }
    #insta {
        width: 50px;
    }
    body {
        background-image: url('./img/fundoMobile.png');
    }
}