@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: Roboto;
}

header {
    background-color: black;
    height: 70px;
    border-radius: 10px;
    text-align: center;
}

#BispoLogo {
    width: 70px;
}